header{
    display: flex;
    justify-content: center;
    background: rgb(2, 28, 39);
    padding: 10px 0 10px 0;
}

#container{
    width: 920px;
}

#container img{
    width: 40px;
}

/* MAIN */
main{
    display: flex;
    justify-content: center;
    background: rgb(2, 48, 68);
    padding: 50px 0 50px 0;
}

.container{
    width: 920px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card{
    /* width: calc(100% / 3); */
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
    margin-bottom: 30px;
    padding-top: 20px;
}

 img{
     width: 150px;
 }

 .card h3,p,h6{
     width: 200px;
     text-align: center;
     color: white;
 }