/* MAIN */
main{
    display: flex;
    justify-content: center;
}

.container{
    width: 920px;
    display: flex;
    flex-wrap: wrap;
}

.card{
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

 img{
     width: 150px;
 }

 .card h3{
     width: 200px;
     text-align: center;
 }